<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cwweb.com.dao.InInventoryMapper" >
  <resultMap id="BaseResultMap" type="cwweb.com.model.InInventory" >
    <id column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="total_id" property="totalId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
    <result column="commdity_total" property="commdityTotal" jdbcType="DOUBLE" />
    <result column="in_number" property="inNumber" jdbcType="INTEGER" />
    <result column="commdity_unit" property="commdityUnit" jdbcType="INTEGER" />
    <result column="in_type" property="inType" jdbcType="INTEGER" />
    <result column="brokerage" property="brokerage" jdbcType="VARCHAR" />
    <result column="in_date" property="inDate" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    address_id, total_id, uuid, unit_price, commdity_total, in_number, commdity_unit, 
    in_type, brokerage, in_date, create_date, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cwweb.com.model.InInventoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from in_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from in_inventory
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from in_inventory
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cwweb.com.model.InInventoryExample" >
    delete from in_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cwweb.com.model.InInventory" >
    insert into in_inventory (address_id, total_id, uuid, 
      unit_price, commdity_total, in_number, 
      commdity_unit, in_type, brokerage, 
      in_date, create_date, update_date
      )
    values (#{addressId,jdbcType=INTEGER}, #{totalId,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, 
      #{unitPrice,jdbcType=DOUBLE}, #{commdityTotal,jdbcType=DOUBLE}, #{inNumber,jdbcType=INTEGER}, 
      #{commdityUnit,jdbcType=INTEGER}, #{inType,jdbcType=INTEGER}, #{brokerage,jdbcType=VARCHAR}, 
      #{inDate,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cwweb.com.model.InInventory" >
    insert into in_inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="totalId != null" >
        total_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="commdityTotal != null" >
        commdity_total,
      </if>
      <if test="inNumber != null" >
        in_number,
      </if>
      <if test="commdityUnit != null" >
        commdity_unit,
      </if>
      <if test="inType != null" >
        in_type,
      </if>
      <if test="brokerage != null" >
        brokerage,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="totalId != null" >
        #{totalId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="commdityTotal != null" >
        #{commdityTotal,jdbcType=DOUBLE},
      </if>
      <if test="inNumber != null" >
        #{inNumber,jdbcType=INTEGER},
      </if>
      <if test="commdityUnit != null" >
        #{commdityUnit,jdbcType=INTEGER},
      </if>
      <if test="inType != null" >
        #{inType,jdbcType=INTEGER},
      </if>
      <if test="brokerage != null" >
        #{brokerage,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cwweb.com.model.InInventoryExample" resultType="java.lang.Integer" >
    select count(*) from in_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update in_inventory
    <set >
      <if test="record.addressId != null" >
        address_id = #{record.addressId,jdbcType=INTEGER},
      </if>
      <if test="record.totalId != null" >
        total_id = #{record.totalId,jdbcType=INTEGER},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.commdityTotal != null" >
        commdity_total = #{record.commdityTotal,jdbcType=DOUBLE},
      </if>
      <if test="record.inNumber != null" >
        in_number = #{record.inNumber,jdbcType=INTEGER},
      </if>
      <if test="record.commdityUnit != null" >
        commdity_unit = #{record.commdityUnit,jdbcType=INTEGER},
      </if>
      <if test="record.inType != null" >
        in_type = #{record.inType,jdbcType=INTEGER},
      </if>
      <if test="record.brokerage != null" >
        brokerage = #{record.brokerage,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        in_date = #{record.inDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update in_inventory
    set address_id = #{record.addressId,jdbcType=INTEGER},
      total_id = #{record.totalId,jdbcType=INTEGER},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      unit_price = #{record.unitPrice,jdbcType=DOUBLE},
      commdity_total = #{record.commdityTotal,jdbcType=DOUBLE},
      in_number = #{record.inNumber,jdbcType=INTEGER},
      commdity_unit = #{record.commdityUnit,jdbcType=INTEGER},
      in_type = #{record.inType,jdbcType=INTEGER},
      brokerage = #{record.brokerage,jdbcType=VARCHAR},
      in_date = #{record.inDate,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cwweb.com.model.InInventory" >
    update in_inventory
    <set >
      <if test="totalId != null" >
        total_id = #{totalId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="commdityTotal != null" >
        commdity_total = #{commdityTotal,jdbcType=DOUBLE},
      </if>
      <if test="inNumber != null" >
        in_number = #{inNumber,jdbcType=INTEGER},
      </if>
      <if test="commdityUnit != null" >
        commdity_unit = #{commdityUnit,jdbcType=INTEGER},
      </if>
      <if test="inType != null" >
        in_type = #{inType,jdbcType=INTEGER},
      </if>
      <if test="brokerage != null" >
        brokerage = #{brokerage,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cwweb.com.model.InInventory" >
    update in_inventory
    set total_id = #{totalId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DOUBLE},
      commdity_total = #{commdityTotal,jdbcType=DOUBLE},
      in_number = #{inNumber,jdbcType=INTEGER},
      commdity_unit = #{commdityUnit,jdbcType=INTEGER},
      in_type = #{inType,jdbcType=INTEGER},
      brokerage = #{brokerage,jdbcType=VARCHAR},
      in_date = #{inDate,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  
  <resultMap id="InventoryCommdity" type="cwweb.com.model.InInventory" >
        <id column="address_id" property="addressId" jdbcType="INTEGER" />
	    <result column="total_id" property="totalId" jdbcType="INTEGER" />
	    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
	    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
	    <result column="commdity_total" property="commdityTotal" jdbcType="DOUBLE" />
	    <result column="in_number" property="inNumber" jdbcType="INTEGER" />
	    <result column="commdity_unit" property="commdityUnit" jdbcType="INTEGER" />
	    <result column="in_type" property="inType" jdbcType="INTEGER" />
	    <result column="brokerage" property="brokerage" jdbcType="VARCHAR" />
	    <result column="in_date" property="inDate" jdbcType="VARCHAR" />
	    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
	    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    
        <!--totalInventory属性关联字段-->
        <association property="totalInventory" javaType="cwweb.com.model.TotalInventory">
            <id column="totalin_id" property="totalinId" jdbcType="INTEGER" />
            <result column="uuid" property="uuid" jdbcType="VARCHAR" />
            <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
            <result column="total_number" property="totalNumber" jdbcType="INTEGER" />
            <result column="commdity_unit" property="commdityUnit" jdbcType="INTEGER" />
        </association>
        <!-- 商品表关联字段 -->
        <association property="commodityInfo" javaType="cwweb.com.model.CommodityInfo">
            <id column="commodity_id" property="commodityId" jdbcType="INTEGER" />
            <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
            <result column="commodity_bar" property="commodityBar" jdbcType="VARCHAR" />
            <result column="commodity_market" property="commodityMarket" jdbcType="DOUBLE" />
            <result column="shelves_state" property="shelvesState" jdbcType="INTEGER" />
            <result column="style" property="style" jdbcType="INTEGER" />
            <result column="color" property="color" jdbcType="INTEGER" />
            <result column="size" property="size" jdbcType="INTEGER" />
            <result column="type" property="type" jdbcType="INTEGER" />
        </association>
        
    </resultMap>
    <sql id="getInventoryPropert">
        c.commodity_id, 
        c.commodity_name, 
        c.commodity_bar, 
        c.commodity_market, 
        c.shelves_state, 
        c.style, 
        c.color, 
        c.size, 
        c.type, 
        c.update_date as update_date, 
        c.create_date as create_date, 
        i.address_id, 
        i.uuid, 
        i.total_id, 
        i.unit_price,
        i.commdity_total, 
        i.in_number, 
        i.commdity_unit, 
        i.in_type, 
        i.brokerage, 
        i.in_date, 
        i.create_date, 
        i.update_date
    </sql>
    <select id="getInventory" resultMap="InventoryCommdity">
         select
         <if test="distinct">
            distinct
         </if>
         <include refid="getInventoryPropert" />
         from in_inventory i,
              total_inventory t,
              commodity_info c
         where i.total_id = t.totalin_id
         and t.commodity_id = c.commodity_id
         <if test="_parameter != null">
          <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
          order by ${orderByClause}
        </if>
    </select>
</mapper>