<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cwweb.com.dao.RefundInfoMapper" >
  <resultMap id="BaseResultMap" type="cwweb.com.model.RefundInfo" >
    <id column="refund_id" property="refundId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="refund_price" property="refundPrice" jdbcType="DOUBLE" />
    <result column="refund_date" property="refundDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    refund_id, user_id, order_number, commodity_id, refund_price, refund_date, update_date, 
    create_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cwweb.com.model.RefundInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from refund_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from refund_info
    where refund_id = #{refundId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from refund_info
    where refund_id = #{refundId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cwweb.com.model.RefundInfoExample" >
    delete from refund_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cwweb.com.model.RefundInfo" >
    insert into refund_info (refund_id, user_id, order_number, 
      commodity_id, refund_price, refund_date, 
      update_date, create_date)
    values (#{refundId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderNumber,jdbcType=INTEGER}, 
      #{commodityId,jdbcType=INTEGER}, #{refundPrice,jdbcType=DOUBLE}, #{refundDate,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cwweb.com.model.RefundInfo" >
    insert into refund_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        refund_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="refundPrice != null" >
        refund_price,
      </if>
      <if test="refundDate != null" >
        refund_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        #{refundId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="refundPrice != null" >
        #{refundPrice,jdbcType=DOUBLE},
      </if>
      <if test="refundDate != null" >
        #{refundDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cwweb.com.model.RefundInfoExample" resultType="java.lang.Integer" >
    select count(*) from refund_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update refund_info
    <set >
      <if test="record.refundId != null" >
        refund_id = #{record.refundId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNumber != null" >
        order_number = #{record.orderNumber,jdbcType=INTEGER},
      </if>
      <if test="record.commodityId != null" >
        commodity_id = #{record.commodityId,jdbcType=INTEGER},
      </if>
      <if test="record.refundPrice != null" >
        refund_price = #{record.refundPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.refundDate != null" >
        refund_date = #{record.refundDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update refund_info
    set refund_id = #{record.refundId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_number = #{record.orderNumber,jdbcType=INTEGER},
      commodity_id = #{record.commodityId,jdbcType=INTEGER},
      refund_price = #{record.refundPrice,jdbcType=DOUBLE},
      refund_date = #{record.refundDate,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cwweb.com.model.RefundInfo" >
    update refund_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="refundPrice != null" >
        refund_price = #{refundPrice,jdbcType=DOUBLE},
      </if>
      <if test="refundDate != null" >
        refund_date = #{refundDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
    </set>
    where refund_id = #{refundId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cwweb.com.model.RefundInfo" >
    update refund_info
    set user_id = #{userId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=INTEGER},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      refund_price = #{refundPrice,jdbcType=DOUBLE},
      refund_date = #{refundDate,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR}
    where refund_id = #{refundId,jdbcType=INTEGER}
  </update>
</mapper>