<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cwweb.com.dao.TotalInventoryMapper" >
  <resultMap id="BaseResultMap" type="cwweb.com.model.TotalInventory" >
    <id column="totalin_id" property="totalinId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="total_number" property="totalNumber" jdbcType="VARCHAR" />
    <result column="commdity_unit" property="commdityUnit" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    totalin_id, uuid, commodity_id, total_number, commdity_unit, create_date, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cwweb.com.model.TotalInventoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from total_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from total_inventory
    where totalin_id = #{totalinId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from total_inventory
    where totalin_id = #{totalinId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cwweb.com.model.TotalInventoryExample" >
    delete from total_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cwweb.com.model.TotalInventory" >
    insert into total_inventory (totalin_id, uuid, commodity_id, 
      total_number, commdity_unit, create_date, 
      update_date)
    values (#{totalinId,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{commodityId,jdbcType=INTEGER}, 
      #{totalNumber,jdbcType=VARCHAR}, #{commdityUnit,jdbcType=INTEGER}, #{createDate,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cwweb.com.model.TotalInventory" >
    insert into total_inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="totalinId != null" >
        totalin_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="totalNumber != null" >
        total_number,
      </if>
      <if test="commdityUnit != null" >
        commdity_unit,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="totalinId != null" >
        #{totalinId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="totalNumber != null" >
        #{totalNumber,jdbcType=VARCHAR},
      </if>
      <if test="commdityUnit != null" >
        #{commdityUnit,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cwweb.com.model.TotalInventoryExample" resultType="java.lang.Integer" >
    select count(*) from total_inventory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update total_inventory
    <set >
      <if test="record.totalinId != null" >
        totalin_id = #{record.totalinId,jdbcType=INTEGER},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityId != null" >
        commodity_id = #{record.commodityId,jdbcType=INTEGER},
      </if>
      <if test="record.totalNumber != null" >
        total_number = #{record.totalNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.commdityUnit != null" >
        commdity_unit = #{record.commdityUnit,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update total_inventory
    set totalin_id = #{record.totalinId,jdbcType=INTEGER},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      commodity_id = #{record.commodityId,jdbcType=INTEGER},
      total_number = #{record.totalNumber,jdbcType=VARCHAR},
      commdity_unit = #{record.commdityUnit,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cwweb.com.model.TotalInventory" >
    update total_inventory
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="totalNumber != null" >
        total_number = #{totalNumber,jdbcType=VARCHAR},
      </if>
      <if test="commdityUnit != null" >
        commdity_unit = #{commdityUnit,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    where totalin_id = #{totalinId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cwweb.com.model.TotalInventory" >
    update total_inventory
    set uuid = #{uuid,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      total_number = #{totalNumber,jdbcType=VARCHAR},
      commdity_unit = #{commdityUnit,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR}
    where totalin_id = #{totalinId,jdbcType=INTEGER}
  </update>
  
  <resultMap id="getTotalInventory" type="cwweb.com.model.TotalInventory" >
    <id column="totalin_id" property="totalinId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="total_number" property="totalNumber" jdbcType="VARCHAR" />
    <result column="commdity_unit" property="commdityUnit" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    
    <!--commdityInfo属性关联字段-->
    <association property="commodityInfo" javaType="cwweb.com.model.CommodityInfo">
        <id column="c_id" property="commodityId"/>
        <result column="c_name" property="commodityName" jdbcType="VARCHAR" />
        <result column="c_bar" property="commodityBar" jdbcType="VARCHAR" />
        <result column="c_market" property="commodityMarket" jdbcType="VARCHAR" />
        <result column="shelves_state" property="shelvesState" jdbcType="INTEGER" />
        <result column="style" property="style" jdbcType="INTEGER" />
        <result column="color" property="color" jdbcType="INTEGER" />
        <result column="size" property="size" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="getInventoryPropert">
        b.commodity_id as c_id, 
        b.commodity_name as c_name, 
        b.commodity_bar as c_bar, 
        b.commodity_market as c_market, 
        b.shelves_state as shelves_state, 
        b.style as style, 
        b.color as color, 
        b.size as size, 
        b.type as type, 
        b.update_date as update_date, 
        b.create_date as create_date, 
        a.totalin_id, 
        a.uuid, 
        a.commodity_id,
        a.total_number, 
        a.commdity_unit, 
        a.create_date, 
        a.update_date
    </sql>
    <select id="selectTotalInventory" resultMap="getTotalInventory">
         select
         <if test="distinct">
            distinct
         </if>
         <include refid="getInventoryPropert" />
         FROM total_inventory a LEFT JOIN commodity_info b
         ON a.commdity_id = b.commodity_id
         <if test="_parameter != null">
          <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
          order by ${orderByClause}
        </if>
    </select>
</mapper>