@CHARSET "UTF-8";
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10px;
}

.row{
	margin-top: 4px;
    margin-bottom: 4px;
}

.selectText {
	width:100px;
	float: left;
	height: 25px; 
	border:1px solid #000; 
	border-radius:3px;
}
